:root {
    --pwpf-widget-range-color-1: rgb(76, 92, 104);
    --pwpf-widget-range-color-2: rgb(30, 115, 190);
    --pwpf-widget-ranage-color-3: white;
}

.pwpf-el-range {
    padding: 1em;
}

.pwpf-el-range__input {
    border-radius: .4em;
    padding: .5em;
    font-size: 1rem;
    display: flex;
    height: 2.5em;
    box-sizing: border-box;
}

.pwpf-el-range__label_theme-default {
    color: rgb(76, 92, 104);
    font-weight: 500;
    font-style: italic;
    border-bottom: 2px solid var(--pwpf-widget-range-color-1);
}

.pwpf-el-range__input_theme-default:focus {
    box-shadow: 0 .8em 1.6em rgba(30, 115, 190, 0.25), 0 .8em 1.6em rgba(30, 115, 190, .25);
    border-color: transparent;
}

.pwpf-el-range__label:not(:first-of-type) {
    margin-top: 1em;
}